<a href="https://colab.research.google.com/github/KeitaW/Colab-Notebooks/blob/master/210428_%E6%AF%8D%E6%AF%94%E7%8E%87%E3%81%AE%E5%B7%AE%E3%81%AE%E6%A4%9C%E5%AE%9A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://medium.com/analytics-vidhya/testing-a-difference-in-population-proportions-in-python-89d57a06254
のタイタニックデータセットを例とした、母比率の差の検定をやってみる

In [4]:
import pandas as pd
import numpy as np
import scipy.stats.distributions as dist

In [9]:
titanic_df = pd.read_csv("/content/drive/MyDrive/Data/titanic/train.csv")

In [12]:
titanic_df["Survived"] = titanic_df["Survived"].map({1: "Survived", 0: "Not Survived"})
titaniic_df = titanic_df.dropna()

In [13]:
titanic_df[["Sex", "Survived"]].head()

      Sex      Survived
0    male  Not Survived
1  female      Survived
2  female      Survived
3  female      Survived
4    male  Not Survived

分割表（contingency table）を書いてみる

In [17]:
contingency_table = pd.crosstab(titanic_df.Survived, titanic_df.Sex)
contingency_table

Sex           female  male
Survived
Not Survived      81   468
Survived         233   109

$p_f$: 女性の生存割合

$p_m$: 男性の生存割合

$H_{0}$: $p_{f} - p_{m} = 0$

$H_{A}$: $p_{f} - p_{m} \neq 0$

In [18]:
from statsmodels.stats.proportion import proportions_ztest

In [19]:
contingency_table.sum(axis=1).values

Survived
Not Survived    549
Survived        342
dtype: int64